@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #313133;
    min-height: 100vh;
}

.quizGrid {
    margin: auto;
    width: 70%;
    display: grid;
    gap: 2em;
    row-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-auto-rows: 320px;
}

/* #FCB417 */